body {
  font-family: 'Roboto', Times, serif;
}

h2 {
  color: #00a2c6;
}

h3 {
  color: #00a2c6;
}
h1 {
  text-align: center;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
}
